@font-face {
  font-family: neon;
  src: url(fonts/NeonBines.ttf);
}

@font-face {
  font-family: neonDos;
  src: url(fonts/NEONGLOW.otf);
}

@font-face {
  font-family: neonNombre;
  src: url(fonts/Lobster-Regular.ttf);
}

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 2%;
}

.neon, #antind, #strangeind, .donde, .time, .menuneon, .guarnicionneon, .birrasneon, .reserva {
  color: white;
  text-shadow: 0 0 7px #ff00f2, 0 0 10px #ff00f2, 0 0 21px #fff, 0 0 42px white, 0 0 82px #ff00f2, 0 0 92px #ff00f2, 0 0 102px #ff00f2, 0 0 151px #ff00f2;
  font-family: neonDos;
}

.neon:hover, #antind:hover, #strangeind:hover, .donde:hover, .time:hover, .menuneon:hover, .guarnicionneon:hover, .birrasneon:hover, .reserva:hover {
  color: white;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
}

body {
  background-image: url(imagenesproyecto/pared.jpg);
  z-index: 10;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* Empieza Logo */
header h1 {
  margin-top: 100px;
  text-align: center;
  text-transform: capitalize;
  font-size: 150px;
  width: auto;
  text-shadow: 0 0 7px #ff00f2, 0 0 10px #ff00f2, 0 0 21px #fff, 0 0 42px white, 0 0 82px #ff00f2, 0 0 92px #ff00f2, 0 0 102px #ff00f2, 0 0 151px #ff00f2;
  font-family: neon;
}

header h1 a {
  text-decoration: none;
  color: white;
}

header span {
  -webkit-animation: blink linear infinite 1.5s;
          animation: blink linear infinite 1.5s;
}

/* Termina Logo */
/* Empieza Nav */
header ul li {
  list-style: none;
  display: inline-block;
}

header ul ul {
  position: absolute;
  display: none;
}

header ul ul li {
  display: block;
  color: white;
  text-shadow: 0 0 7px #ff00f2, 0 0 10px #ff00f2, 0 0 21px #fff, 0 0 42px white, 0 0 82px #ff00f2, 0 0 92px #ff00f2, 0 0 102px #ff00f2, 0 0 151px #ff00f2;
}

header ul li :hover ul {
  display: block;
}

.barra {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

.menu {
  color: white;
  font-size: 50px;
  letter-spacing: 0.3em;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
}

.menu:hover {
  color: white;
  text-shadow: 0 0 7px #ff00f2, 0 0 10px #ff00f2, 0 0 21px #fff, 0 0 42px white, 0 0 82px #ff00f2, 0 0 92px #ff00f2, 0 0 102px #ff00f2, 0 0 151px #ff00f2;
}

header .menu:active {
  text-shadow: 0 0 7px #25d366, 0 0 21px #fff, 0 0 42px #25d366, 0 0 151px #25d366;
}

@media only screen and (min-width: 200px) and (max-width: 478px) {
  header h1 {
    font-size: 60px;
  }
  .menu {
    font-size: 30px;
  }
}

@media only screen and (min-width: 479px) and (max-width: 768px) {
  header h1 {
    font-size: 80px;
  }
  .menu {
    font-size: 30px;
  }
}

/* Termina Nav */
section {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Carousel index Hamburguesas  y Cervezas */
.burgersind {
  padding: 20px;
  gap: 10px;
}

.carousel-inner img {
  width: 50%;
  height: 50%;
  border-radius: 40px;
  border-color: transparent;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  font-weight: 1000;
  color: white;
  text-shadow: 0 0 7px #25d366, 0 0 21px #fff, 0 0 42px #25d366, 0 0 151px #25d366;
  font-family: neonNombre;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  font-weight: 1000;
  color: white;
  text-shadow: 0 0 7px #25d366, 0 0 21px #fff, 0 0 42px #25d366, 0 0 151px #25d366;
  font-family: neonNombre;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.neoncarousel {
  font-size: 50px;
  color: white;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
}

.burgersindimg {
  font-size: 50px;
  color: white;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
}

.neoncarouselb {
  opacity: 0;
  color: white;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonNombre;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselimgind:hover img {
  opacity: 0.3;
}

.carouselimgind:hover .neoncarouselb {
  opacity: 1;
}

.carouselimgind img {
  width: 580px;
  height: 580px;
}

.beers {
  min-height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

#antind {
  font-size: 65px;
  text-decoration: none;
}

#strangeind {
  font-size: 65px;
  text-decoration: none;
}

@media only screen and (max-width: 280px) {
  .carouselburgerind img {
    width: 200px;
    height: 200px;
  }
  .carouselimgind img {
    width: 200px;
    height: 200px;
  }
  #antind {
    font-size: 35px;
  }
  #strangeind {
    font-size: 35px;
  }
}

@media only screen and (min-width: 281px) and (max-width: 480px) {
  .carouselburgerind img {
    width: 300px;
    height: 300px;
  }
  .carouselimgind img {
    width: 300px;
    height: 300px;
  }
  #antind {
    font-size: 35px;
  }
  #strangeind {
    font-size: 35px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
  .carouselburgerind img {
    width: 400px;
    height: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carouselimgind img {
    width: 400px;
    height: 400px;
  }
  #antind {
    font-size: 35px;
  }
  #strangeind {
    font-size: 35px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1023px) {
  .beers {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .beerlogoind1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .beerlogoind2 {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
}

@media only screen and (min-width: 1024px) {
  .beers {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .beerlogoind1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .beerlogoind2 {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
}

/* Termina carouseles index hamburguesas y cervezas */
/* Empieza Localizacion Horario y Mapa */
.locate {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locate p {
  font-size: 25px;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  color: #fff;
  font-family: neonNombre;
}

.mapview {
  width: 400px;
  height: 350px;
}

.donde {
  font-size: 60px;
  margin: 5%;
}

.time {
  font-size: 50px;
  margin: 5%;
}

/* Termina Localizacion Horario Y Mapa */
/*Empieza Menu */
.menuneon {
  text-align: center;
  font-size: 80px;
  margin-bottom: 5%;
}

/* Empieza Hamburguesas */
.burgermenu {
  width: 100%;
  display: -ms-grid;
  display: grid;
  min-height: 300px;
}

.nombreh {
  font-size: 65px;
  color: #fff;
  text-shadow: 0 0 7px #ff00f2, 0 0 21px black, 0 0 42px #ff00f2, 0 0 151px #ff00f2;
  font-family: neonNombre;
}

span.nombreh {
  font-size: 35px;
  text-shadow: 0 0 7px #ff00f2, 0 0 21px black, 0 0 42px #ff00f2, 0 0 151px #ff00f2;
}

.burgersmenuimg {
  display: -ms-grid;
  display: grid;
  border: 2px solid #000;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  margin: 5%;
}

.burgermenu1 {
  background-image: url(imagenesproyecto/chicken.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.burgermenu2 {
  background-image: url(imagenesproyecto/classic.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.burgermenu3 {
  background-image: url(imagenesproyecto/rustik.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.burgermenu4 {
  background-image: url(imagenesproyecto/vegancheese.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.burgermenu5 {
  background-image: url(imagenesproyecto/vegan.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.ingredientes {
  color: #fff;
  font-size: 35px;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 151px cyan;
  font-family: neondos;
}

@media only screen and (min-width: 280px) and (max-width: 1022px) {
  .burgersmenu1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1023) and (max-width: 1024px) {
  .burgersmenu1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .nombreh1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu1 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    width: 600px;
  }
  .nombreh2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .burgermenu2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    width: 600px;
  }
  .nombreh3 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    width: 600px;
  }
  .nombreh4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    width: 600px;
  }
  .nombreh5 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    width: 600px;
  }
}

@media only screen and (min-width: 1025px) {
  .burgersmenu1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .nombreh1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu1 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .nombreh2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .burgermenu2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .nombreh3 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .nombreh4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .nombreh5 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .ingredientes5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .burgermenu5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
}

/* Termina Hamburguesas */
/*Empieza Guarniciones */
.guarnicionneon {
  text-align: center;
  font-size: 80px;
  margin-bottom: 5%;
}

.guarnicion {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guar {
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
  border-radius: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.guar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.guarnicion p {
  color: white;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
  font-size: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preciosguar {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  margin-bottom: 10%;
}

@media only screen and (max-width: 479px) {
  .menuneon {
    font-size: 35px;
  }
  .nombreh {
    font-size: 30px;
  }
  .ingredientes {
    font-size: 25px;
  }
  .guarnicionneon {
    font-size: 45px;
  }
  .preciosguar {
    font-size: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .guarnicion {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .guar {
    max-height: 300px;
    padding: 10px;
  }
  .menuneon {
    font-size: 55px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .guarnicion {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .guar {
    max-height: 300px;
  }
}

@media only screen and (min-width: 1023px) {
  .guarnicion {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .guar {
    max-height: 300px;
  }
}

/* Termina Guarnicion */
/* Termina Menu*/
/*Empieza Birras */
.birrasneon {
  text-align: center;
  font-size: 80px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.preciosbirra {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  margin-bottom: 5%;
  font-family: neonNombre;
}

.birrasbirra {
  max-width: 278px;
  max-height: 330px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.birrasbirra:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.neonbirras {
  font-size: 25px;
  font-family: neonDos;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  color: #fff;
  text-align: center;
}

.neonbirras span.nombreh {
  font-size: 25px;
  text-shadow: 0 0 7px #ff00f2, 0 0 21px black, 0 0 42px #ff00f2, 0 0 151px #ff00f2;
}

@media only screen and (max-width: 479px) {
  .birrasneon {
    font-size: 45px;
  }
  .preciosbirra {
    font-size: 25px;
  }
}

/*Termina Birras */
/* Empieza Nosotros */
.fotonosotros {
  margin: 5%;
  width: 100%;
  height: 500px;
  max-height: 50%;
  border: #000;
  border-radius: 10%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.fotonosotros:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.texto {
  font-family: neonNombre;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 151px cyan;
  font-size: 30px;
  margin-bottom: 5%;
}

.reserva {
  text-align: center;
  font-size: 80px;
  margin-bottom: 5%;
}

form {
  color: #fff;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  width: 80%;
  margin: 0 auto;
  font-family: neonNombre;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

button.enviar {
  background-color: transparent;
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  color: #fff;
}

button.enviar:hover {
  background-color: black;
  text-shadow: 0 0 7px #ff00f2, 0 0 21px black, 0 0 42px #ff00f2, 0 0 151px #ff00f2;
  color: #fff;
}

label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .fotonosotros {
    margin: 5%;
    width: 300px;
    height: 300px;
  }
  .nosotroslocate {
    width: 400px;
    height: 300px;
  }
  #reserva {
    font-size: 60px;
  }
  #donde {
    font-size: 40px;
  }
}

/*termina nosotros*/
/*empieza footer todas las paginas */
footer {
  word-spacing: 1em;
  height: 150px;
  background-color: transparent;
  font-size: 50px;
  text-align: center;
  padding-top: 75px;
}

.btn--wsp {
  color: #25d366;
  text-shadow: 0 0 7px #25d366, 0 0 21px #fff, 0 0 42px #25d366, 0 0 151px #25d366;
}

.btn--ig {
  color: white;
  text-shadow: 0 0 7px #ff00f2, 0 0 10px #ff00f2, 0 0 21px #fff, 0 0 42px white, 0 0 82px #ff00f2, 0 0 92px #ff00f2, 0 0 102px #ff00f2, 0 0 151px #ff00f2;
}

.btn--fb {
  color: rgba(255, 255, 255, 0.696);
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
}

.subir {
  font-size: 50px;
  height: 70px;
  width: 70px;
  color: rgba(255, 255, 255, 0.696);
  text-shadow: 0 0 7px #ff00f2, 0 0 21px black, 0 0 42px #ff00f2, 0 0 151px #ff00f2;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.subir:hover {
  color: rgba(255, 255, 255, 0.696);
  text-shadow: 0 0 7px cyan, 0 0 21px black, 0 0 42px white, 0 0 151px cyan;
  font-family: neonDos;
}

@media only screen and (min-width: 200px) and (max-width: 700px) {
  footer {
    font-size: 35px;
  }
  .subir {
    font-size: 35px;
  }
}

/*termina footer todas las paginas*/
/*# sourceMappingURL=estilos.css.map */