@import "fonts";

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    margin-bottom:2%;
}

.neon{
    color: rgb(255, 255, 255);
    text-shadow:$--neonpink--color;
    font-family: neonDos;
}
.neon:hover{
    color: rgb(255, 255, 255);
    text-shadow:$--neonskyblue--color;
    font-family: neonDos;
}
body{
    background-image: url(imagenesproyecto/pared.jpg);
    z-index: 10;
}
a:hover{
    text-decoration: none;
    color: #fff;

}
/* Empieza Logo */
header h1{
    margin-top: 100px;
    text-align: center;
    font-size: 150px;
    text-shadow:$--neonpink--color;
    font-family: neon;
}
header h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header span{ 
    animation: blink linear infinite 1.5s;
}


/* Termina Logo */

/* Empieza Nav */
header ul li{
    list-style: none;
    display: inline-block;
}

header ul ul{
    position: absolute;
    display: none;
}

header ul ul li{
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: $--neonpink--color;
}

header ul li :hover ul{
    display: block;
}

.barra{
    text-align: center;
    padding-bottom:50px;
    padding-top: 60px;
}
.menu{
    color:rgb(255, 255, 255) ;
    font-size: 50px;
    letter-spacing: 0.3em ;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding-left:10px ;
    padding-right:10px;
	list-style: none;
    text-shadow: $--neonskyblue--color;
    font-family: neonDos;
}


.menu:hover{
    color: rgb(255, 255, 255);
    text-shadow:$--neonpink--color;
}

header .menu:active{
    text-shadow: $--neongreen--color;
}
@media only screen and(min-width:200px) and (max-width:478px){
    header h1{
        font-size: 60px;
    }
    .menu{
        font-size: 30px;
    }
}
@media only screen and (min-width:479px) and(max-width: 768px){
    header h1{
        font-size: 80px;
    }
    .menu{
        font-size: 30px;
    }

}
/* Termina Nav */


section{
    width: 100%;
    text-align: center;
}

/* Carousel index Hamburguesas  y Cervezas */

.burgersind{
    padding: 20px;
    gap: 10px;
}

.carousel-inner img {
    width: 50%;
    height: 50%;
    border-radius: 40px;
    border-color: transparent;
}
.carousel-control-prev-icon,.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
    
}
.carousel-control-next-icon:after{
    content: '>';
    font-size: 55px;
    color:white;
    text-shadow: $--neongreen--color;
    font-family: neonNombre;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: white;
    text-shadow: $--neongreen--color;
    font-family: neonNombre;
}


.carousel-caption {
    top:0;
    bottom:auto;
}


.burgersindimg {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow:$--neonskyblue--color;
    font-family: neonDos;
}

.neoncarouselb{
    opacity: 0;
    color: rgb(255, 255, 255);
    text-shadow:$--neonskyblue--color;
    font-family: neonNombre;
    font-size: 25px;
    justify-content: center;
}


.carouselimgind:hover img{
    opacity: 0.3;
}   
.carouselimgind:hover .neoncarouselb{
    opacity: 1;
}
.carouselimgind img{
    width: 580px;
    height: 580px;
}
.beers{
    min-height: 100%;
    width: 100%;
    display: grid;
}

#antind{
    @extend .neon;
    font-size: 65px;
    text-decoration: none;
}
#strangeind{
    @extend .neon;
    font-size: 65px;
    text-decoration: none;
}

@media only screen and (max-width:280px) {
    .carouselburgerind img{
        width: 200px;
        height: 200px;
    }
    .carouselimgind img {
        width: 200px;
        height: 200px;
    }
    #antind{
        font-size: 35px;
    }
    #strangeind{
        font-size: 35px;
    }
}

@media only screen and (min-width:281px) and(max-width:480px) {
    .carouselburgerind img{
        width: 300px;
        height: 300px;

    }
    .carouselimgind img {
        width: 300px;
        height: 300px;
    }
    #antind{
        font-size: 35px;
    }
    #strangeind{
        font-size: 35px;
    }
    
}

@media only screen and (min-width:481px) and(max-width:780px) {
    
    .carouselburgerind img{
        width: 400px;
        height: 400px;
        align-items: center;
    }
    .carouselimgind img {
        width: 400px;
        height: 400px;
    }
    #antind{
        font-size: 35px;
    }
    #strangeind{
        font-size: 35px;
    }
    
}
@media only screen and (min-width:781px) and(max-width:1023px){
    .beers{
        grid-template-columns: 1fr 1fr;
    }    
    .beerlogoind1{
        grid-column: 1/1;
        grid-row: 1/4;
    }
    .beerlogoind2{
        grid-column: 2/2;
        grid-row: 1/4;
    }  
}

@media only screen and (min-width: 1024px){
    .beers{
        grid-template-columns: 1fr 1fr;
    }    
    .beerlogoind1{
        grid-column: 1/1;
        grid-row: 1/4;
    }
    .beerlogoind2{
        grid-column: 2/2;
        grid-row: 1/4;
    }  
}
/* Termina carouseles index hamburguesas y cervezas */

/* Empieza Localizacion Horario y Mapa */
.locate{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.locate p{
    font-size: 25px;
    text-shadow: $--neonskyblue--color;
    color: #fff;
    font-family: neonNombre;
}
.mapview{
    width:400px ;
    height:350px;
}
.donde{
    @extend .neon;
    font-size: 60px;
    margin: 5%;
}
.time{
    @extend .neon;
    font-size: 50px;
    margin: 5%;
}
/* Termina Localizacion Horario Y Mapa */


/*Empieza Menu */
.menuneon{
    @extend .neon;
    text-align: center;
    font-size: 80px;
    margin-bottom:5%;
}
/* Empieza Hamburguesas */
.burgermenu{
    width: 100%;
    display: grid;
    min-height: 300px;
}   
.nombreh{
    font-size: 45px;
    color: #fff;
    text-shadow:$--neonpinktwo--color;
    font-family: neonNombre;
}

span.nombreh{
    font-size: 35px;
    text-shadow: $--neonpinktwo--color;
}

.burgersmenuimg{
    display: grid;
    border: 2px solid #000;
    border-radius:7px ;
    box-shadow:0 0 5px #333 ;
    margin: 5%;
}
@mixin sizes($heigth) {
    height: $heigth;
}
.burgermenu1{
    background-image: url(imagenesproyecto/chicken.jpg);
    background-position: center;
    background-size: cover;
    @include sizes(400px);
}
.burgermenu2{
    background-image: url(imagenesproyecto/classic.jpg);
    background-position: center;
    background-size: cover;
    @include sizes(400px);
}
.burgermenu3{
    background-image: url(imagenesproyecto/rustik.jpg);
    background-position: center;
    background-size: cover;
    @include sizes(400px);
}
.burgermenu4{
    background-image: url(imagenesproyecto/vegancheese.jpg);
    background-position: center;
    background-size: cover;
    @include sizes(400px);
}
.burgermenu5{
    background-image: url(imagenesproyecto/vegan.jpg);
    background-position: center;
    background-size: cover;
    @include sizes(400px);
}
.ingredientes{
    color: #fff;
    font-size: 35px;
    text-shadow: $--neonskybluedos--color;
    font-family: neondos;
}



@media only screen and (min-width:280px)and(max-width:1022px){
    .burgersmenu1{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:1023)and (max-width: 1024px){
    .burgersmenu1{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .nombreh1{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu1{
        grid-column: 3/5;
        grid-row: 1/5;
        width: 600px;

    }
    .nombreh2{
        grid-column: 4/5;
        grid-row: 1/1;
    }
    .ingredientes2{
        grid-column: 4/5;
        grid-row: 2/2;
    }
    .burgermenu2{
        grid-column: 1/3;
        grid-row: 1/5;
        width: 600px;
    }
    .nombreh3{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu3{
        grid-column: 3/5;
        grid-row: 1/5;
        width: 600px;
    }
    .nombreh4{
        grid-column: 4/5;
        grid-row: 1/1;
    }
    .ingredientes4{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .burgermenu4{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 600px;
    }
    .nombreh5{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes5{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu5{
        grid-column: 3/5;
        grid-row: 1/4;
        width: 600px;
    }
}
@media only screen and (min-width: 1025px){
    .burgersmenu1{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .nombreh1{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu1{
        grid-column: 3/5;
        grid-row: 1/5;
    }
    .nombreh2{
        grid-column: 4/5;
        grid-row: 1/1;
    }
    .ingredientes2{
        grid-column: 4/5;
        grid-row: 2/2;
    }
    .burgermenu2{
        grid-column: 1/3;
        grid-row: 1/5;

    }
    .nombreh3{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu3{
        grid-column: 3/5;
        grid-row: 1/5;

    }
    .nombreh4{
        grid-column: 4/5;
        grid-row: 1/1;
    }
    .ingredientes4{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .burgermenu4{
        grid-column: 1/3;
        grid-row: 1/4;

    }
    .nombreh5{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .ingredientes5{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .burgermenu5{
        grid-column: 3/5;
        grid-row: 1/4;
    }
}
/* Termina Hamburguesas */
/*Empieza Guarniciones */
.guarnicionneon{
    @extend .neon;
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
}

.guarnicion{
    display: grid;
    align-items: center;
    justify-content: center;
}
.guar{
    width: 70%;
    flex-direction: row;
    padding-left: 10px;
    border-radius: 20px; 
    transition: transform .2s;
}
.guar:hover{
    transform: scale(1.1);
}
.guarnicion p{
    color: rgb(255, 255, 255);
    text-shadow:$--neonskyblue--color;
    font-family: neonDos;
    font-size: 35px;
    justify-content: center;
}


.preciosguar{
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: $--neonskyblue--color;
    margin-bottom: 10%;
}

@media  only screen and (max-width:479px){
    .menuneon{
        font-size: 55px;
    }
    .ingredientes{
        font-size: 25px;
    }
    .guarnicionneon{
        font-size: 45px;
    }
    .preciosguar{
        font-size: 30px;
    }
    .nombreh{
        font-size: 35px;
        margin-top: 5%;
    }
    span.nombreh{
        font-size: 25px;
    }
}

@media only screen and (min-width: 480px) and (max-width:768px){
    .guarnicion{
        grid-template-columns: 1fr;
    }
    .guar{
        max-height: 300px;
        padding: 10px;
    }
    .menuneon{
        font-size: 65px;
    }
}


@media only screen and (min-width: 768px) and (max-width:1023px){
    .guarnicion{
        grid-template-columns:1fr 1fr 1fr;
    }
    .guar{
        max-height: 300px;
    }
    
}

@media only screen and (min-width:1023px) {
    .guarnicion{
        grid-template-columns:1fr 1fr 1fr;
    }
    .guar{
        max-height: 300px;
    }
    
}
/* Termina Guarnicion */
/* Termina Menu*/

/*Empieza Birras */
.birrasneon{
    @extend .neon;
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.preciosbirra{
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: $--neonskyblue--color;
    margin-bottom: 5%;
    font-family: neonNombre;
}
.birrasbirra{
    max-width: 278px;
    max-height: 330px;
    transition: transform .2s;
}

.birrasbirra:hover{
    transform: scale(1.1);
}
.neonbirras{
    font-size: 25px;
    font-family:neonDos;
    text-shadow: $--neonskyblue--color;
    color: #fff;
    text-align: center;
}
.neonbirras span.nombreh{
    font-size: 25px;
    text-shadow: $--neonpinktwo--color;
}

@media  only screen and (max-width:479px){
    .birrasneon{
        font-size: 45px;
    }
    .preciosbirra{
        font-size: 25px;
    }
    
}

/*Termina Birras */

/* Empieza Nosotros */
.nosotros{
    @extend .neon;
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
}

.fotonosotros {
    margin-top: 5%;
    width: 100%;
    height: 500px;
    max-height: 50%;
    border: #000;
    border-radius: 10%;
    transition: transform .2s;
}

.fotonosotros:hover{
    transform: scale(1.1);
}
.texto{
    font-family:neonNombre;
    color:#fff;
    text-align: center;
    text-shadow: $--neonskybluedos--color;
    font-size: 30px;
    margin-bottom: 5%;
}


.reserva{
    @extend .neon;
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
}

form {
    color: #fff;
    text-shadow: $--neonskyblue--color;
    width: 80%;
    margin: 0 auto;
    font-family: neonNombre;
}

label, input {
    display: inline-block;
}
label {
    width: 30%;
    text-align: right;
    font-size: 20px;
}
button.enviar{
    background-color: transparent;
    text-shadow: $--neonskyblue--color;
    color: #fff;
}

button.enviar:hover{
    background-color: black;
    text-shadow: $--neonpinktwo--color;
    color: #fff;
}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

@media only screen and (min-width:200px) and (max-width:800px) {
    .fotonosotros {
        margin-top: 5%;
        width: 300px;
        height: 300px;
    }
    .nosotroslocate{
        width:400px ;
        height:300px;
    }
    .reserva{
        font-size: 60px;
        margin: 15%;
    }
    .donde{
        font-size: 40px;
    }
    .nosotros{
        font-size: 60px;
        margin: 10%;
    }
    .texto{
        margin:5%;
    }
    
}
/*termina nosotros*/

/*empieza footer todas las paginas */






$redes: (
    wsp: rgb(37, 211, 102),
    ig: white,
    fb: rgba(255, 255, 255, 0.696),
);

@each $red, $color in $redes {
    .btn--#{$red}{
    color: $color;
    @if $red == wsp{
        text-shadow: $--neongreen--color;
    }
    @else if $red == ig{
        text-shadow: $--neonpink--color;
    }
    @else{
        text-shadow: $--neonskyblue--color;
    }
    }
}
.subir{
    color: map-get($map: $redes, $key:fb );
    text-shadow: $--neonpinktwo--color;
}
.subir:hover{
    color:  map-get($map: $redes, $key:fb );
    text-shadow:$--neonskyblue--color;
    font-family: neonDos;
    
}
footer{
    word-spacing: 1em;
    height: 150px;
    background-color:transparent;
    font-size: 50px;
    text-align: center;
    padding-top: 75px;
}

@media only screen and (min-width: 200px) and (max-width:700px) {
    footer{
        font-size: 35px;
    }
    .subir{
        font-size: 35px;
    }
    
}

/*termina footer todas las paginas*/
